/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  } 
    
   header{
    background-color:rgba(0, 0, 0, 0.819);
    padding:0 100px;
   
}
  /* navbar css styles here */
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
    
  }
  .nav-title{
   color: rgb(230, 83, 60);
   font-family: Inter;
   font-size: 36px;
   font-weight: 800;
   line-height: 120%;
   letter-spacing: 0%;
   text-align: left;
  }
 .nav-menu a{
    text-decoration:none ;
    margin-left: 30px;
    color: rgb(255, 255, 255);
    
 }
 .nav-menu { 
   font-family: Inter;
   font-size: 18px; 
   font-weight: 600;
   line-height: 22px;
   letter-spacing: 0%; 
   text-align: left;
 }
 .nav-hamburger-menu{
  display: none;
  color: rgba(255, 255, 255);
 }
 .diff-style{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding:7px 10px;
    color: rgb(255, 255, 255) ;
 }

 /* banner css styles here */
 .banner{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
  
 .banner-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 68px;
font-weight: 900;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
 }
 .shape{
   font-family: 'miama', sans-serif;
    font-size: 68px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;

 }

 .banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align:left;
 }
 .btn-primary{
    padding: 15px 20px;
    background: rgb(230, 83, 60);
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 17px;
   font-weight: 600;
   line-height: 20px;
   /* justify-content: left; */
   
    
 }
 .btn-diff{
    padding: 15px 20px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.147);
    color: rgb(255, 255, 255);
    border: 1px solid white;
    font-size: 17px;
   font-weight: 600;
   line-height: 20px;
 }
 .banner-btn{
  /* padding:15px 25px; */
  position: absolute;
  width:190px;
  height:77px;
  left: 540px;
  top: 556px;
  /* background-color: rgba(0, 0, 0, 0.173); */
  background: rgba(48, 48, 48, 0.612);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: rgb(250, 250, 249);
 }
 .banner-btn2{
  position: absolute;
  width: 180px;
  height: 80px;
  left:780px;
  top: 300px;
  background: rgba(48, 48, 48, 0.612);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: rgb(250, 250, 249);
  
 }
 .rounded-box{
   background: rgb(230, 83, 60);
   height: 35px;
   width: 35px;
   border-radius: 100%;
   position: absolute;
   left: 550px;
   top: 577px;
   /* gap: 20px; */

 }

 .btn-number{
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 35px;
font-weight: 900;
line-height: 35px;
letter-spacing: 1px;
text-align: left;
 }
 .btn-number2{
  color: rgb(250, 250, 249);
font-family: Inter;
font-size: 24px;
font-weight: 900;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
 }
 .btn-text{
  color: rgba(255, 255, 255, 0.65);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: left;
 }
 .btn-bg{
  /* background: rgb(230, 83, 60); */
  /* position: absolute;
width: 40px;
height: 40px;
left: 787px;
top: 584px; */
 }
 /* main section css  */
 main{
    background: rgb(0, 0, 0);
    
 }
 .habit-container{
   margin: 0 50px;
   /* width: 100%; */
 }
 .habit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .habit-title{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 40px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 10px;
 }
 .habit-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
 
 }

 .habit-box-title{
 color: rgb(255, 255, 255);
 font-family: inter;
font-size: 18px;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
text-align:center;
 }
 .habit-box-description{
 color: rgba(255, 255, 255, 0.5);
 font-family: inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0.3px;
text-align: center;
padding: 15px;
 }
 .habit-box{
   display:grid;
   grid-template-columns: repeat(4, 1fr);
   width: 100%;
 }
 .habit-box img{
   border-radius: 120px;
   padding: 25px;
   /* width: 100%; */
   /* border: 1px solid silver; */
 }

 /* Run section css styles here */
 .run{
   background-color:rgb(34, 34, 34); 
   display: flex;
   align-items:center;
   margin: 0 100px;
   border-radius: 18px;
   padding: 20px;
   justify-content: space-between;
   gap:40px;
 }
 .run-content{
   /* flex-basis: 50%; */
   /* justify-content: flex-
   start;
   align-items: center;
   text-align: center; */
  
 }
 .run-title{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 45px;
font-weight: 900;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
/* padding: 0 0 0 20px; */
 }
 .run-description{
   color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.3px;
text-align: left;
     }

.run-img img{
     width: 100%;
     border-radius:20px; 
  
 }
 .run-btn{
     padding: 16px 40px 16px 40px;
     border-radius: 42px;
     background: rgb(230, 83, 60);
     color: white;
     border: none;
     border-radius: 40px;
     font-size: 17px;
     font-weight: 600;
     line-height: 20px;
     display: block;
     margin: 0 0 0 20px;
  }

     /* BMI Calculator section Css here */
 .bmi-hero{
     /* margin: 0 100px; */
    }
  .bmi-heading{
    display: flex;
    flex-direction: column;
      justify-content: center;
      align-items: center;
   }
  .bmi-title{
      color: rgb(255, 255, 255);
      font-family: Inter;
      font-size:36px;
      font-weight: 800;
      line-height: 90%;
      letter-spacing: 0%;
      /* text-align: left; */
     }
  .bmi-description{
      color: rgba(255, 255, 255, 0.737);
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.3px;
      text-align:left;
      
     }
     .bmi-color{
      background-color:rgba(255, 255, 255, 0.248) ;
     }
  .bmi-main{
      
      display: flex;
      justify-content:center;
      align-items:center;
      gap: 40px;
      /* margin: 0 50px; */

     }
  .bmi-calc-title{
      text-align: center;
      color: rgb(255, 255, 255);
      font-family: Inter;
      font-size: 26px;
      font-weight: 900;
      line-height: 100%;
      letter-spacing: 0%;
     /* text-align: left; */
     }
  .th-title{
      color: rgb(255, 255, 255);
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0%;
      /* text-align: left; */
     }
  .td-desc{
      color: rgba(255, 255, 255, 0.5);
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0%;
      text-align: left;
     }
  table{
      border-collapse: collapse;
      /* display: block; */
      margin: 0 50px;
     }
td{
      border: 1px solid rgba(0, 0, 0, 0.245);
      padding: 7px;
      text-align: center;
  
     }
  th{
      border: 1px solid rgba(0, 0, 0, 0.245);
      width: 300px;
      height: 0;
      left: 348px;
      top: 138px;
      padding:7px;
     }
  
    
  form{
      /* margin: 0 50px; */
     }
  .bmi-form input{
      padding:12px 15px;
      background-color:rgba(255, 255, 255, 0.261) ;
      /* color:rgb(143, 194, 220) ; */
      border: none;
      border-radius: 8px;
     }
  ::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
  }
  
  .select-title{
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
  }
  .bmi-form select{
      padding: 10px 65px;
      background-color:rgba(255, 255, 255, 0.261) ;
      color: rgba(255, 255, 255, 0.6);
      border-radius: 8px;
      color: rgba(255, 255, 255, 0.6);
      font-family: Inter;
      font-size:14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: left;
     }
  .btn-padding{
      margin:40px 0px;
      padding-top: 20px;
     }
    .btn-padding-bottom{
      padding-bottom: 20px;
    } 
  .cal-bmi-title{
      display: flex;
      flex-direction: column;
      justify-content:flex-start;
      align-items:flex-start;
      color: rgb(255, 255, 255);
      font-family: Inter;
      font-size: 26px;
      font-weight: 900;
      line-height: 100%;
      letter-spacing: 0%;
     }
  .cal-bmi{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
       color: rgba(255, 255, 255, 0.5);
     font-family: Inter;
     margin-bottom: 50px;
       
     }
     /* team css styles  */
  .team{
   padding-bottom: 30px;
  }
  .team-container{
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      text-align: center;
  
     }
.team-title{
   color: rgb(255, 255, 255);
   font-family: Inter;
   font-size: 40px;
   font-weight: 800;
   line-height: 90%;
   letter-spacing: 0%;
   text-align: left;
   /* padding: 0 0 0 20px; */
   }
.team-description{
   color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 13px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.3px;
text-align: center;
 }
.team-img-container{
   /* position:relative; */
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   margin: 0 100px;
   border-radius: 18px;
   background: rgba(255, 255, 255, 0.1);
   padding: 20px;
  
 }
 /* .trainer-name{
  position:absolute;
  bottom: 100px;
  right: 100px;
 } */
 .img-size{
   height:200px;
   width: 100%;
  
   background-size: cover;
   border-radius: 18px;
 }
.img-size img{
   width: 100%;
   height: 50%;
  
   background: rgba(0, 0, 0, 0.2),url(image);

 } 
 /* .img-diff{
   width: 100%;
   
 } */
.trainer-name{
   position: static;
   align-self:stretch;
   color: white;
   font-family:inter ;
   font-size: 20px;
   font-weight: 600;
}
.trainer-bio{
   color: rgba(255, 255, 255, 0.575);
   font-family: inter;
   font-size: 16px;
   font-weight: 300;
}

 /* footer css styles */
 .footer-main-bg-color{
   background:rgba(0, 0, 0, 0.878);
 }
 .footer-description{
   color: rgba(255, 255, 255, 0.5);
   font-family: Inter;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.3px;
   /* text-align:center; */
 }
 .footer-main{
  display:flex;
  justify-content:space-evenly;
  align-items:start;
  /* text-align: center; */
  
 }
 .footer-2 a{
  text-decoration:none ;
  /* margin-left: 30px; */
    
 }
 .foot-title{
  color:rgb(255, 255, 255);
 }
 .foot-menu {
  font-family: Inter;
  font-size: 18px; 
  font-weight: 600;
  line-height:30px;
  letter-spacing: 0%; 
  margin-bottom:50px;
 
 }
 .foot-menu a{
  color:rgba(255, 255, 255, 0.5);
  display: block;
 }
 .foot-hr{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 100px;
 }
 
.foot-p{
  color: rgba(255, 255, 255, 0.5);
   /* margin-bottom: 50px; */
   padding-bottom: 20px;
}

@media screen and (max-width:576px) {
  .nav-hamburger-menu{
    display:block;
    
  
  }
  
  .nav-menu{
    display: none;
  }

  .banner{
    flex-direction: column;
 }
 .banner-title{
font-size:45px;
font-weight: 900;
 line-height: 100%;
}
.banner-btn-primary{
  display: flex;
  gap: 10px;
}
.btn-primary{
  font-size: 11px;
}
.btn-diff{
  font-size: 11px;
}

.banner-img img{
  width: 90%;
}

.banner-btn2{
  position:relative;
  width: 130px;
  height: 60px;
  left:80px;
  top: 100px;
 }

 .btn-number{
font-size: 20px;
 }
.btn-text{
  font-size: 10px;
}

.banner-btn{
  /* padding:15px 25px; */
  position:relative;
  width:120px;
  height:58px;
  left: -5px;
  top: 280px;
  /* background-color: rgba(0, 0, 0, 0.173);
  background: rgba(48, 48, 48, 0.612);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: rgb(250, 250, 249); */
 }

 .btn-number2{
font-size: 20px;
 }
.habit-title{
  font-size:30px ;
  text-align: center;
}
.habit-box{
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.run{
  display: flex;
  flex-direction: column;
 justify-content: space-between;
  align-items:center;
}
.run-title{
  
  font-size:30px;
  align-items: flex-start;
   }
 .run-description{
  font-size:12px ;
  /* text-align: center; */
  align-items: flex-start;
 }
 .run-btn{
   padding: 16px 65px 16px 65px;
   border-radius: 50px;
   align-items: flex-start;
   margin-bottom: 0px;
   
 }
.run-img{
  /* width: 100%; */
}
.bmi-heading{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    /* margin: 0 50px; */
    
  }
  .bmi-title{
  
    font-size:28px;
  
  }
  .bmi-description{
   
    font-size: 12px;
   
  }
  .bmi-main{
    
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
   

   }

   .team-img-container{
    /* position:relative; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-main{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    
  }
  .foot-hr{
     display:flex;
     justify-content: center;
     align-items: center;
     text-align: center;

  } 

 .foot-p{
  font-size:11px ;
 }






}




 